<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035703108304-0osbmpcuiuecoms6ndiedt48a3kg6p40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035703108304-0osbmpcuiuecoms6ndiedt48a3kg6p40</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1035703108304-57gghed30can3uer4kmek01g42o154lo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2D1oRrfkHvxHD8q1wgl2QwqTHYCJ2Qjo</string>
	<key>GCM_SENDER_ID</key>
	<string>1035703108304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carapacik.wordle</string>
	<key>PROJECT_ID</key>
	<string>wordle-60cbd</string>
	<key>STORAGE_BUCKET</key>
	<string>wordle-60cbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035703108304:ios:5e2674e0540cd117cd14d5</string>
</dict>
</plist>