name: analyze

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: "Run analyze"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.4
      - uses: subosito/flutter-action@v2.16.0
        with:
          channel: stable
      - name: Install dependencies
        run: flutter pub get
      - name: Install intl utils
        run: dart pub global activate intl_utils
      - name: Generate localization
        run: dart pub global run intl_utils:generate
      - name: Code generation
        run: dart run build_runner build -d
      - name: Analyze
        run: dart analyze
