name: github pages

on:
  push:
    branches:
      - main

jobs:
  pages:
    name: "Deploy on Github Pages"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: subosito/flutter-action@v2.13.0
        with:
          channel: stable
      - name: Install dependencies
        run: flutter pub get
      - name: Install intl utils
        run: dart pub global activate intl_utils
      - name: Generate localization
        run: dart pub global run intl_utils:generate
      - name: Code generation
        run: dart run build_runner build -d
      - name: Build
        run: flutter build web
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.9.3
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          publish_dir: ./build/web
